@model IEnumerable<TourWeb.Note>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style type="text/css">
        table {
            font-family: verdana,arial,sans-serif;
            font-size: 11px;
            color: #333333;
            border-width: 1px;
            border-color: #666666;
            border-collapse: collapse;
        }

            table th {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #dedede;
            }

            table td {
                border-width: 1px;
                padding: 8px;
                border-style: solid;
                border-color: #666666;
                background-color: #ffffff;
            }
    </style>
    </head>
    <body>
        <table class="table">
            <tr>
                <th>
                    用户名
                </th>
                <th>
                    留言
                </th>
                <th>
                    发布时间
                </th>       
                <th>
                    操作
                </th>       
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PubTime)
                    </td>
                
                    <td>
                        @Html.ActionLink("详情", "Details", new { id = item.Nid }) |
                        @Html.ActionLink("删除", "Delete", new { id = item.Nid})
                    </td>
                </tr>
            }

        </table>
    </body>
</html>
